[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
yfinance = "*"
pandas_ta = "*"
telepot = "*"
python-decouple = "*"

[dev-packages]

[requires]
python_version = "3.8"
